<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 *ngIf="!name">
    Hello
  </h1>
  <h1 *ngIf="name">
    Hello, {{name}}
  </h1>

  <button class="btn btn-default" (click)="login()">
    Login
  </button>
  <button class="btn btn-default" (click)="logoff()">
    Logout
  </button>
</div>

<div style="text-align:center" *ngIf="idToken">
  <button class="btn btn-default" (click)="rng()">
    rng
  </button>
  <p *ngIf="rngResult !== undefined">
    Your Random Generated Number is {{rngResult}}.
  </p>
</div>
